@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #000;
}

input {
  color: #000;
  border-radius: 5px;
}

.marker-active {
  z-index: 1;
}

.select-menu {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  padding: 0.3rem;
  background: #fff;
  color: #000;
  border-radius: 10px;
  border: 0;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
