@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Generics */

body {
  background-color: #000;
}

input {
  color: #000;
  border-radius: 5px;
}

/* Custom Classes */

.marker-active {
  z-index: 1;
}

.select-menu {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  padding: 0.3rem;
  background: #fff;
  color: #000;
  border-radius: 10px;
  border: 0;
}
