.logo { 
  width: 130px;
  height: 40px;
  background-image: url('../styles/assets/abb-logo.png');
  background-size: 130px;
}

.inputStyles { 
  width: 100% !important;
  border: none !important;
  outline: none !important;
  padding: 0px !important;
  margin: 26px 12px 10px !important;
  min-height: 1px !important;
  color: inherit !important;
  background-color: transparent !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  appearance: none !important;
}

.form-wrapper { 
    cursor: text !important;
    display: flex !important;
    height: 56px !important;
    width: 100% !important;
    margin: 0px !important;
    border: none transparent !important;
    color: rgb(34, 34, 34) !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}