@font-face {
    font-family: "Circular Medium";
    src: url(/fonts/circular/circular-medium.ttf);
  }
  
  @font-face {
    font-family: "Circular Book";
    src: url(/fonts/circular/circular-book.otf);
  }
  
  @font-face {
    font-family: "Circular Bold";
    src: url(/fonts/circular/circular-bold.otf);
  }
  
  @font-face {
    font-family: "Circular Light";
    src: url(/fonts/circular/circular-light.ttf);
  }
  
  :root {
    --grey-med: #ddd;
    --grey-light: #f7f7f7;
    --grey-text-light: #717171;
    --grey-text-dark: #222;
    --pink: #ff385c;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    color: rgb(34, 34, 34);
    font-family: "Circular Book";
    margin: 0;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
  }
  
  .header {
    height: 80px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    justify-content: space-between;
    &__logo,
    &__nav {
      flex: 1 0 140px;
    }
  
    &__search {
      display: inline-flex;
      border-radius: 24px;
      overflow: hidden;
      align-items: center;
      border: 1px solid var(--grey-med);
      transition: box-shadow 0.2s ease;
      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
      }
      button {
        background: transparent;
        cursor: pointer;
        height: 48px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        font-family: "Circular Medium";
        border: none;
        &:first-of-type {
          padding-left: 24px;
        }
  
        &:last-of-type {
          padding-right: 7px;
        }
      }
      span {
        width: 1px;
        height: 24px;
        background: 1px solid var(--grey-med);
      }
    }
    &__searchIcon {
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      margin-left: 16px;
      display: flex;
      border-radius: 50%;
      background: var(--pink);
      img {
        width: 12px;
        height: 12px;
      }
    }
    &__nav {
      display: flex;
      justify-content: flex-end;
      &__button {
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 16px;
        text-decoration: none;
        color: rgb(34, 34, 34);
        height: 48px;
        border-radius: 22px;
        cursor: pointer;
        &-greyHover {
          &:hover {
            background: var(--grey-light);
          }
        }
        &-language {
          img {
            &:first-child {
              width: 16px;
              height: 16px;
            }
            &:last-child {
              width: 9px;
              height: 6px;
              margin-left: 6px;
            }
          }
        }
  
        &-account {
          border: 1px solid var(--grey-med);
          height: 42px;
          border-radius: 22px;
          padding: 5px 5px 5px 12px;
          transition: box-shadow 0.2s ease;
          &:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          }
          img {
            &:first-child {
              height: 16px;
              width: 16px;
            }
            &:last-child {
              width: 30px;
              height: 30px;
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
  .main {
    &__content {
      min-height: calc(100vh - 80px);
      width: 840px;
      padding-left: 24px;
      padding-top: 60px;
      h1 {
        font-size: 34px;
        margin-top: 18px;
      }
    }
    &__filters {
      padding-top: 15px;
      button {
        margin-right: 6px;
      }
    }
    &__scarcity { 
        display: flex;
        align-items: center;
        padding-top: 30px;
        img { 
            margin-right: 15px;
           
        }
        span { 
            span { 
                font-family: 'Circular Bold';
            }
        }
    }
  }
  
  button {
    padding: 8px 16px;
    outline: none;
    background: transparent;
    margin: 0;
    &.outlined {
      border: 1px solid #b0b0b0;
      &:hover {
        border-color: var(--grey-text-dark);
      }
    }
    &.curved {
      border-radius: 30px;
    }
  }
  